{%include 'topBar.html'%}
<title>{{title}}</title>
<div style="margin:2em">
    <h1>{{title}}</h1>
    <p>{{desc}}</p>
    {% block content %}
        {% if specificTemplate=='imageTemplate' %}
            {% include 'fileImage.html' %}
        {% endif %}
        {% if specificTemplate=='audioTemplate' %}
            {% include 'fileAudio.html' %}
        {% endif %}
    {% endblock content %}
    <form method=post>
        <input type=submit name=download value='Download File'>
    </form>
</div>
