{%include 'topBar.html'%}
<title>Upload File</title>
<div style="margin:2em">
  <form method=post enctype=multipart/form-data>
    <input type=file id=file name=file required><br><br>
    Título <input type=text name=title><br><br>
    Descrição <input type=text name=desc><br><br>
    Senha <input type=password name=password><br><br>
    <input type="submit" value="Upload">
  </form>
</div>
<script>
  var uploadField = document.getElementById("file");
  uploadField.onchange = function()
  {
    if (this.files[0].size > 31457280)
    {
      alert("Erro: Arquivo Grande Demais\nTamanho Máximo do Arquivo é 30MiB = 31457280 bytes");
      this.value = "";
    };
  };
</script>