{%include 'topBar.html'%}
<title>Upload File</title>
<div style="margin:2em">
  <form method=post enctype=multipart/form-data>
    <input type=file name=file required><br><br>
    Título <input type=text name=title><br><br>
    Descrição <input type=text name=desc><br><br>
    Senha <input type=password name=password><br><br>
    <input type="submit" value="Upload">
  </form>
  <br><br>
  <a href=recent>Lista de uploads não protegidos por senha ordenados do mais recente ao mais antigo:</a>
</div>