# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

permissions: write-all

on:
  push:
    branches: [ main, coverage ]
  pull_request:
    branches: [ main, coverage ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Tests Coverage
      run: |
        pip install coverage
        coverage run -m pytest

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
      with:
        token: 51052171-feda-4ee8-96b2-216f7178873d
        directory: ./coverage/reports/
        env_vars: OS,PYTHON
        fail_ci_if_error: true
        files: ./coverage1.xml,./coverage2.xml
        flags: pytest
        name: codecov-umbrella
        verbose: true

    - name: Generate report with lizard
      run: lizard > lizard-relatório.txt

    - name: Update resources
      uses: test-room-7/action-update-file@v1
      with:
          file-path: lizard-relatório.txt
          commit-msg: Auto generated lizard report
          github-token: ${{ secrets.GITHUB_TOKEN }}    

